.direnv/
.git/
node_modules/
src/
tests/
dist/tests/
.envrc
.gitignore
.npmignore
LICENSE.md
README.md
eslint.config.mjs
flake.lock
flake.nix
jest.config.mjs
package-lock.json
package.json
tsconfig.json
